* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: "Inter var", sans-serif;
	}
}
